<h1>Eatta Burger App!</h1>
<hr>
<br>
<br>
<div><img src="/public/assets/img/photo-1530554764233-e79e16c91d08.jfif" alt="" class="imageburg"></div>
<h2>Add a Burger <i class=""></i></h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  {{!-- <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div> --}}

  <button type="submit">Add Burger</button>
</form>